camera
{
  right <-4/3,0,0>
  location <20,0,0>
  look_at <0,0,0>
  angle 15              //Angle of the view--increase to see more, decrease to see less
}

global_settings
{
    photons
    {
        count 20000
    }
}

box {
    <-1,-1,-1>
    <1,1,1>
    texture
    {
        finish
        {
            ambient 0.0
            specular 0
            diffuse 1
        }
        pigment
        {
            color <1,1,1>
        }
    }
    rotate <0,45,45>
    photons
    {
        target
        //reflection on
    }
}
